body {
  
  font-family: 'Red Hat Text', sans-serif;
    
     background: linear-gradient(90deg,#343434,#b5acac);
  
  }

  h1, h2, h3, h4, h5, h6, p, a, button, span {
    font-family: 'Red Hat Text', sans-serif;
}
  
  .slider-thumb::before {
    position: absolute;
    content: "";
    left: 53.9%;
    top: 19.2%;
    width: 680px;
    height: 580px;
    background:#222222;
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 5s linear infinite;
    display: block;
    z-index: -1;
    -webkit-animation: sliderShape 5s linear infinite;
  }
  @keyframes sliderShape{
    0%,100%{
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
      transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    34%{
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
      transform:  translate3d(0,5px,0) rotateZ(0.01deg);
    }
    50%{
      transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    67%{
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
      transform: translate3d(0,-3px,0) rotateZ(0.01deg);
    }
  }
  
  
  


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: -18px;
}

h1 span, h2 span {
    color: #282828;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color:  rgb(225, 23, 225);
    font-weight: bold;
}


.hero {
    top: 12px;
    height: 92vh;              
    display: flex;
    flex-direction: column;      
    justify-content: center;     
    align-items: center;         
   
  }
  
  .hero h2 {
    margin-left: -840px;
    font-size: 5rem;             
    color: white;                
    margin-bottom: 1360px;         
  }


.about {
    text-align: left;
    padding: 50px;
}



.button-container {
    position: relative;
    top: 485px;
    gap: 15px;
    display: flex;
    justify-content: space-around;  
    align-items: center;  
    padding: 19px;
    border-radius: 80px; 
    width: fit-content;
    margin: 20px auto;
    
}



.nav-button {
  background: linear-gradient(90deg,#737373,#908787); 
    color:  #ffffff;  
    border: none;
    padding: 8px 18px;
    border-radius: 80px; 
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}


.nav-button:hover {
    background-color: #9e8f8f;
    transform: translateY(-5px); 
}


.nav-button:active {
    transform: translateY(1px); 
}


.nav-button:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); 
}


.image-container {
    position: relative;
    left: 350px;
    width: 100%;          
    text-align: center;   
    margin-top: -289px;   
    transform: scale(0.18);  
  }

  .button-containerdeux {
    position: relative;
    top: -1355px;
    gap: 15px;
    background-color: #222222;  
    padding: 17px;
    border-radius: 80px; 
    width: fit-content;
    margin: 20px auto;
    margin-left: 36px; 
}

.logo-svg {
    width: 50px;  
    height: auto; 
}

.skills-grid {
  font-size: 22px;
  padding: 50px;
  text-align: center;
  background: #222222;
  color: white;
  border-radius: 20px;
  margin-top: -600px;
  width: 80%;
  margin-left: 100px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 90px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6e6e6e;
  padding: 20px;
  border-radius: 10px;
  font-size: 0.8rem;
  background: linear-gradient(90deg,#343434,#b5acac);
  text-decoration: none; 
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.grid-item:hover {
  background-color: #b2b2b2;
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.grid-item:active {
  transform: translateY(0);
  background-color: #9e8f8f;
}


.grid-item img {
  width: 50px;
  height: auto;
}

.svg-container img {
  width: 200px; 
  height: 100px ; 
}

.svg-icon {
  width:0px; 
  height: 100px; 
}

.projects-experiences {
  padding: 50px;
  text-align: center;
  background: #222222;
  color: white;
  border-radius: 20px;
  margin: 20px auto;
  width: 80%;
}

.project-grid, .experience-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.project-item, .experience-item {
  background-color: #6e6e6e;
  padding: 20px;
  border-radius: 10px;
  font-size: 1.2rem;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.project-item:hover, .experience-item:hover {
  background-color: #b2b2b2;
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-item:active, .experience-item:active {
  transform: translateY(0);
  background-color: #9e8f8f;
}

.modern-features {
  padding: 50px;
  text-align: center;
  color: white;
  border-radius: 20px;
  margin: 200px auto;
  width: 60%;
  font-size: 25px;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.feature-item {
  background: linear-gradient(90deg,#7b7b7b,#181717);
  padding: 20px;
  border-radius: 10px;
  font-size: 1.2rem;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.feature-item:hover {
  background-color: #b2b2b2;
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.feature-item h3 {
  margin-bottom: 15px;
  font-size: 1.5rem;
  color: #ffffff;
}

.feature-item ul {
  list-style-type: none;
  padding: 0;
}

.feature-item ul li {
  margin: 10px 0;
  font-size: 1rem;
  color: #e0e0e0;
}


.navbar {
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  padding: 10px 20px;
  z-index: 1500;
  text-align: center;
  margin-left: 690px;
}

.sticky-btn {
  background: linear-gradient(90deg, #737373, #908787);
  color: white;
  border: none;
  padding: 8px 18px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 80px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.sticky-btn:hover {
  background-color: #9e8f8f;
  transform: translateY(-5px);
}

.sticky-btn:active {
  transform: translateY(1px);
}

.sticky-btn:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}


.button-containertroix {
  position: relative;
  gap: 0px;
  background-color: #222222;  
  padding: 17px;                                                  
  border-radius: 80px; 
  width: fit-content;
  margin: 2px auto;
  margin-left: 502px; 
  top: -94px ;
}





body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
.content {
  flex: 1;
}
footer {
  background: #222222;
  color: white;
  text-align: center;
  padding: 100px 0;
  width: 100%;
  margin-top: 100px;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  max-width: 1400px;
  margin: auto;
}
.footer-section {
  flex: 1;
  padding: 10px;
}
.footer-section h3 {
  margin-bottom: 10px;
  font-size: 18px;
}
.footer-section ul {
  list-style: none;
  padding: 0;
}
.footer-section ul li {
  margin: 5px 0;
}
.footer-section ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}
.footer-section ul li a:hover {
  color: #3fe8f4;
}
.footer-bottom {
  margin-top: 15px;
  font-size: 14px;
}





.slider-thumb2::before {
  position: absolute;
  content: "";
  left: 3.9%;
  top: 223.2%;
  width: 680px;
  height: 580px;
  background:  #222222;
  border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
  will-change: border-radius, transform, opacity;
  animation: sliderShape 5s linear infinite;
  display: block;
  z-index: -1;
  -webkit-animation: sliderShape 5s linear infinite;
}
@keyframes sliderShape{
  0%,100%{
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34%{
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }
  50%{
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}

.button-containerquatres {
  position: relative;
  top: -1385px;
  gap: 15px;
  background-color: #222222;  
  padding: 17px;
  border-radius: 80px; 
  width: fit-content;
  margin: 20px auto;
  margin-left: 985px; 
}